In [1]:
import glob
import os
import pickle

import pandas as pd

from pprint import pprint

import string

# Helper Functions

In [2]:
def fix(input):
    """
    Removes non-ASCII characters, such as UTF-8 characters
    """
    return ''.join(x for x in input if x in string.printable)

# Read the pickled contents

In [3]:
with open("./pickles/Bagerhat.pkl", "rb") as f:
        all_contents = pickle.load(f)

print(len(all_contents))

653

# Types of paragraphs

In [4]:
paraghs = [a for a in all_contents if a[0] == 'p']

In [6]:
pprint(paraghs[100])

['p',
 'Body Text',
 'The population and housing census is the unique source of reliable and '
 'comprehensive data about the size of the population of the country, major '
 'socio-economic and socio-demographic characteristics.']

In [10]:
para_styles = {}

for p in paraghs:
    style = p[1]
    
    if style not in para_styles.keys():
        para_styles[style] = 1
    else:
        para_styles[style] += 1

pprint(para_styles)

{'Body Text': 96,
 'Heading 1': 11,
 'Heading 2': 1,
 'Heading 3': 13,
 'Heading 4': 2,
 'Heading 5': 2,
 'Heading 6': 35,
 'List Paragraph': 179,
 'Normal': 144}

In [12]:
heading1_paraghs =  [a for a in paraghs if a[1] == 'Heading 1']

pprint(heading1_paraghs)

[['p', 'Heading 1', 'CHAPTER 2'],
 ['p', 'Heading 1', 'CHAPTER 3'],
 ['p', 'Heading 1', 'CHAPTER 4'],
 ['p', 'Heading 1', 'CHAPTER 5'],
 ['p', 'Heading 1', 'CHAPTER 6'],
 ['p', 'Heading 1', 'CHAPTER 7'],
 ['p', 'Heading 1', 'CHAPTER 8'],
 ['p', 'Heading 1', 'CHAPTER 9'],
 ['p', 'Heading 1', 'CHAPTER 10'],
 ['p', 'Heading 1', 'CHAPTER 11'],
 ['p', 'Heading 1', 'CHAPTER 12']]

In [13]:
list_paraghs =  [a for a in paraghs if a[1] == 'List Paragraph']

pprint(list_paraghs[:10])

[['p',
  'List Paragraph',
  'Union: Smallest administrative rural geographic unit comprising of mauzas '
  'and villages and having union parishad institution.'],
 ['p',
  'List Paragraph',
  'Mauza: Mauza is the lowest administrative unit having a separate '
  'jurisdiction list number (J.L. No.) in revenue records. Every mauza has its '
  'well-demarcated cadastral map. Mauza should be distinguished from local '
  'village since a mauza may consist of one or more villages.'],
 ['p',
  'List Paragraph',
  'Village: Lowest rural geographic unit either equivalent to a mauza or part '
  'of a mauza.'],
 ['p',
  'List Paragraph',
  'Ward: Smallest administrative urban geographic unit comprising of mahallas '
  'and having ward council institution.'],
 ['p',
  'List Paragraph',
  'Mahalla: Lowest urban geographic unit having identifiable boundaries.'],
 ['p',
  'List Paragraph',
  'City Corporation: It includes city corporation area declared by the '
  'Ministry of Local Government.'],
 ['p',
  'List Paragraph',
  'Paurashava/Municipality Area: It includes paurashavas incorporated and '
  'administered by local government under Paurashava Ordinance, 1977.'],
 ['p',
  'List Paragraph',
  'small: Farm holdings having minimum cultivated land 0.05 acre but operated '
  'land more than this minimum but upto 2.49 acres.'],
 ['p',
  'List Paragraph',
  'medium: Farm holdings having operated land in between 2.50 to 7.49 acres.'],
 ['p',
  'List Paragraph',
  'large: Farm holdings having operated land 7.50 acres and above.']]

# Types of tables

In [14]:
tables = [a for a in all_contents if a[0] == 't']

In [15]:
print(len(tables))

170

In [16]:
pprint(tables[10])

['t',
 [['Upazila', 'Muslim', 'Hindu', 'Buddhist', 'Christian', 'Others', 'Total'],
  ['Bagerhat Sadar', '219207', '46547', '561', '4', '70', '266389'],
  ['Chitalmari', '92739', '46003', '58', '2', '8', '138810'],
  ['Fakirhat', '104951', '32628', '57', '0', '153', '137789'],
  ['Kachua', '78645', '18347', '19', '0', '0', '97011'],
  ['Mollahat', '104335', '26302', '89', '0', '152', '130878'],
  ['Mongla', '102298', '29426', '4837', '21', '6', '136588'],
  ['Morrelgonj', '263332', '31136', '34', '2', '72', '294576'],
  ['Rampal', '123250', '31253', '448', '10', '4', '154965'],
  ['Sarankhola', '109836', '9232', '12', '4', '0', '119084'],
  ['Total', '1198593', '270874', '6115', '43', '465', '1476090']]]

In [17]:
sample_table = tables[10][1]

df = pd.DataFrame(sample_table)

df

                 0        1       2         3          4       5        6
0          Upazila   Muslim   Hindu  Buddhist  Christian  Others    Total
1   Bagerhat Sadar   219207   46547       561          4      70   266389
2       Chitalmari    92739   46003        58          2       8   138810
3         Fakirhat   104951   32628        57          0     153   137789
4           Kachua    78645   18347        19          0       0    97011
5         Mollahat   104335   26302        89          0     152   130878
6           Mongla   102298   29426      4837         21       6   136588
7       Morrelgonj   263332   31136        34          2      72   294576
8           Rampal   123250   31253       448         10       4   154965
9       Sarankhola   109836    9232        12          4       0   119084
10           Total  1198593  270874      6115         43     465  1476090